html {
    scroll-behavior: smooth;
}

#body{
    background-color: rgb(20,20,20);
    color: rgb(230, 230,230);
}

.dark_overwrite{
    background-color: rgb(20,20,20);
    color: rgb(230, 230,230);  
}

.pikachu_img{
    width: 18rem;
    height: 18rem;
}

.pikachu_carousel{
    width: 20rem;
    height: 20rem;
    float: right;
    border: 5px solid yellow;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
    border-radius: 5%;
}

.pikachu_carousel_control{
    background-color: transparent;
    border: 0px solid transparent;
}

.pikachu_card{
    margin: 1rem 0rem;
}

.pikachu_card_collection{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

footer{
    background-color: rgba(0,0,0,0.16);
}
footer> ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.accordion-btn{
    text-align: left;
    border: none;
    outline: none;
    padding-bottom: 1rem;
    color: currentColor;
    border-bottom: 2px solid currentColor;
    width: 100%;
}

section h1{
    padding-bottom: 1rem;
    border-bottom: 2px solid currentColor;    
}

section h3{
    padding-bottom: 1rem;
    border-bottom: 2px solid currentColor;
}

/* media query for mobile devices */
@media only screen and (min-width: 600px) and (max-width:768px) {
    .pikachu_carousel{
        text-align: center;
        float: none;
        margin-bottom: 1rem;
        width: 23rem;
        height: 23rem;
    }
}

@media only screen and (max-width: 600px) {
    .pikachu_carousel{
        text-align: center;
        float: none;
        margin-bottom: 1rem;
        width: 23rem;
        height: 23rem;
    }
}