#pikachu_img{
    width: 15rem;
    height: 15rem;
    margin: 0em 1em;
    float: right;
    border: 5px solid yellow;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
    border-radius: 5%;
}

body {
    background-image: url(resources\images\bolt.png);
    background-repeat: repeat-x;
    background-color: lightyellow;
}

footer{
    background-color: rgba(0,0,0,0.16);
}
footer> ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

section h1{
    padding-bottom: 1rem;
    border-bottom: 2px solid currentColor;    
}

section h3{
    padding-bottom: 1rem;
    border-bottom: 2px solid currentColor;
}

/* media query for mobile devices */
@media only screen and (min-width: 600px) and (max-width:768px) {
    #pikachu_img{
        text-align: center;
        float: none;
        margin-bottom: 1rem;
        width: 23rem;
        height: 23rem;
    }
}

@media only screen and (max-width: 600px) {
    #pikachu_img{
        text-align: center;
        float: none;
        margin-bottom: 1rem;
        width: 23rem;
        height: 23rem;
    }
}